.main_template .object_page_h2
{
    font-weight: bold;
}

form{
    margin-left: 5%;
    padding-top: 1%;
}

.continent label{
    font-size: 20px;
}

.anotherD, .budget, .choose-date, .two-div-in-one, .typeoftyoul, .middle-age,.login-container{
    margin-top: 10%;
}

.choose-budget{
    display: flex;
}

.choose-date, .two-div-in-one{
    display: flex;
    justify-content: space-between;
}

#trait2{
    position: relative;
    top: 60px;
    margin: 0 10px;
}

.login-container{

  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

.mx-sm-3 {
    margin-left: 0 !important;
}
