.main_template .object_page_h2
{
    font-weight: bold;
}

form, .col-md-3{
    padding-top: 1%;
}

.anotherD, .budget, .choose-date, .two-div-in-one, .typeoftyoul, .middle-age,.login-container{
    margin-top: 2%;
}

.choose-budget{
    display: flex;
}

.choose-date, .two-div-in-one{
    display: flex;
}

.dater{
    margin-left: 2%;
}

.login-container{

  display: flex;
  justify-content: center;
  padding-bottom: 1%;
}

.mx-sm-3 {
    margin-left: 0 !important;
}

.continent, .object_page_h2,.another-destinatation,.budget,.choose-date,.typeoftyoul,.middle-age{
    margin-left: 3%;

}

@media screen and (max-width: 767px) {

    .col-md-3{
    width: 25%;
    }
}