.trip_destnations{
    margin: 0 3%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(13 110 253 / 25%);
    /* color: var(--bs-table-striped-color); */
}
/* 
.object_page_h2
{
    margin-left: 2%;
    font-weight: bold;
}

.trip_destnations
{
    /* display:flex;
    justify-content:space-between; */
    /* margin: 5%; 
    margin-left: 2%;
    
}

.trip_destnations a
{
    
    color: black;
}

.destnation{
    width: 20%;
    background-color: rgb(255, 255, 255, 0.5);
}

.destnation h3{
    text-align: center;
}

.destnation p{
    margin-left: 2%;
} 



.crayon{
    display: flex;
    justify-content: space-between;
}

.crayon a{
    background-image: url("../images/crayon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px;
    height: 25px;
    width: 25px;
}

.div-red{
    width: 40%;
    background: #E1AA7A;
    margin-bottom: 7px;
}

.poubelle{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.poubelle img{
    width: 25px;
    height: 25px;
}


@media screen and (max-width: 760px) {
    .trip_destnations{
        display: block;
        /* align-items: center; 
        margin-left: 33%;
    }

    main{
        height: 100%;
    }

    .destnation{
        /* margin: 0 auto; 
        width: 50%;
        margin-top: 20px;
    }
}

 */
