.trip_destnations{
    margin: 0 3%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(13 110 253 / 25%);
    /* color: var(--bs-table-striped-color); */
}

tr.clickable-row:hover{
    cursor: pointer;
    --bs-table-accent-bg: rgba(206, 204, 204, 0.678)!important;
}

