*{
    margin:0px;
    padding:0px;

}
header,main,footer, nav, aside,section,div,article{
    display: block;
}

a
{
    text-decoration: none;
}

header{
    background-color: #F7EBD4;
    display: flex;
    height: 80px;
    justify-content: space-between;
}

.logo
{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px;
    width: 75px;
    height: 75px;
    margin-top: auto;
}

.user_pic
{
    display: flex;
    width: 75px;
    height: 75px;
}
.user_pic span
{
    font-size: 5px;

}
.user_pic{
    margin: auto;
    background-image: url("../images/user_picture.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px;
    width: 55px;
    height: 55px;

}

.hamburger{
    width: 30px;
    height: 30px;
    display: block;
    float: right; 
}

nav{
    margin-left: 10px;
    height: 75px;
    background-color:#FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;

}


nav{
    margin-left: 10px;
    height: 35px;
    background-color:#FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav li
{
    color: #FFFFFF;
    font-weight: 300px;
}
.breadcrumb{
    background-color: #FFFFFF;
    margin:auto 0px;
}
.main_template
{
    background-image: url("../images/background.png");
    background-size: contain;
    border-radius: 0px;
    width: 100%;
    height: 800px;

    
}
.title_template
{
    background-color: #B5DBD3;
    width: 100%;
    height: 50px;
}
.title_template h1
{
    line-height: 42px;
    text-align: center;
    padding: 0px;

}

#trip_details
{
    display:flex;
    justify-content: center;
}
.trip_details_section
{
    display: flex;
    flex-wrap: wrap; 
    max-width: 100px;
    margin-left: 80px;
    margin-top: 20px;

}
.trip_details_section span
{
    font-size: 30px;
}

#object_page_h2
{
    margin-left:30px;
    margin-top: 50px;
    font-weight: bold;
    text-decoration: underline;
}
#trip_destnations
{
    display:flex;
    justify-content:space-between;
    margin-top: 50px;
    margin-left: 26px;
    margin-right: 26px;

}
.destnation
{
    height: 400px;
    width: 300px;
    background-color: #FFFFFF;
    opacity: 0.5; 
    position: relative;
}
.destnation img
{
    position: absolute;
    top: 48px;
    left:7.5px;
    width: 288px;
    height: 1px;
}
.destnation h3
{
    color: black;
    font-size: 20px;
    line-height: 42px;
    text-align: center;

}