/****** TEMPLATE ******/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Assistant';
}

header,
main,
footer,
nav,
aside,
section,
div,
article {
    display: block;
}

a {
    text-decoration: none;
}

header {
    background-color: #F7EBD4;
}

.logo {
    width: 70px;
    height: 70px;
}

.photo_profil {
    width: 40px;
    height: 40px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

.main-menu a:hover {
    text-decoration: underline;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    margin: auto 30px;
    width: 40px;
    height: 40px;
    display: none;
    border: none;
    background: linear-gradient( to bottom, #a0632f, #a0632f 20%, #F7EBD4 20%, #F7EBD4 40%, #a0632f 40%, #a0632f 60%, #F7EBD4 60%, #F7EBD4 80%, #a0632f 80%, #a0632f 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #318371;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: #B9FAF8;
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: #B9FAF8;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    z-index: 9999;
    visibility: visible;
    left: 0;
}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.4;
}

@media screen and (max-width: 750px) {
    .main-menu {
        display: none;
    }
    #hamburger-menu {
        display: inline;
    }
}

ul {
    list-style-type: none;
}

a.nav-link {
    color: #585858;
}

a.nav-link.active {
    color: black;
}

a.nav-link:hover {
    color: #B48D11;
}

main {
    background-color: #dce7e9;
    width: 100%;
    height: 100vh;
}


/****** INDEX ******/

main h1 {
    background-color: #B5DBD3;
}

.form-index {
    margin: 20px auto 0 auto;
    max-width: 600px;
}

.pswrd {
    margin-top: 2%;
}

.btn.btn-primary.index {
    box-sizing: border-box;
    margin: 2% 0;
}

.or-container {
    margin: 25px auto;
    max-width: 600px;
}

.line-separator {
    background-color: black;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
}

.footer-index {
    height: 100px;
    gap: 20px;
    text-decoration: underline;
}

.footer-index a {
    color: black;
}

@media (max-width: 660px) {
    .form-index,
    .or-container {
        width: 50%;
    }
}


/****** FORM ******/

.formpage {
    height: 100%;
}

.beige-rec {
    background-color: #F9EAD5;
    border-radius: 8px;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}

.btn-outline-success {
    border-color: #dce7e9;
}

#NumDest {
    display: none;
}

@media (max-width: 770px) {
    .rec-white.col-md-8 {
        width: 50%;
    }
}


/****** LIST PAGE ******/

.trip_destnations {
    margin: 0 3%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(13 110 253 / 25%);
}

tr.clickable-row:hover {
    cursor: pointer;
    --bs-table-accent-bg: rgba(206, 204, 204, 0.678)!important;
}


/* PATH PAGE + OBJECT PAGE */

.trip_details {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    padding: 2%;
}

.trip_details_section {
    max-width: 396px;
    height: 100px;
    width: 135px;
    margin: 0px auto;
    position: relative;
}

.trip_details_section span {
    font-weight: bold;
    font-size: 24px;
    width: 97px;
    height: 40px;
}

.trip_details_section input {
    text-align: center;
    margin-top: 2px;
    width: 117px;
    height: 28px;
}

.edit_button {
    background: url("../images/edit_button.png");
    border: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.trip_details_section select {
    text-align: center;
    margin-top: 0px;
    width: 117px;
    height: 28px;
}

.object_page_h2 {
    margin-left: 200px;
    margin-top: 50px;
    font-weight: bold;
}

.trip_destnations1 {
    border-radius: 8px;
    margin-left: 20%;
    background-color: white;
    width: 100%;
    padding: 5%;
}

.blanc-rec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.area_list {
    height: 100%;
    width: 100%;
    background-color: #F7EBD4;
    position: relative;
    border-radius: 8px;
}

.area_list img {
    position: absolute;
    top: 40px;
    height: 1px;
}

.area_list h3,
.area_list p {
    margin-left: 10%;
}

.area_list ol li {
    list-style: none;
    font-size: 18px;
}

.form-check-input:checked {
    background-color: #B5DBD3;
    border-color: #B5DBD3;
}

.area_list .form-check .form-check-input {
    visibility: hidden;
}

.area_list section {
    position: absolute;
    background: #E1AA7A;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 10%;
    top: 260px;
    left: 0px;
    border-radius: 0px 0px 8px 8px
}

.des_img {
    position: relative;
    height: 87px;
    width: 156px;
}

.des_img :nth-child(1) {
    position: absolute;
    top: 29px;
    left: 0px;
    width: 170px;
    height: 3px;
}

.des_img :nth-child(2) {
    position: absolute;
    top: 10px;
    left: 0px;
}

.des_img :nth-child(3) {
    position: absolute;
    top: 52px;
    left: 17px;
}

.des_img :nth-child(4) {
    position: absolute;
    top: 10px;
    left: 109px;
}

#trip_details {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.trip_details_section {
    margin: auto auto;
}

.object_page_h2 {
    margin-left: 1.5%;
}

.area_list {
    width: 156px;
    height: 288px;
}

.area_list img {
    width: 156px;
}

.area_list span {
    margin-left: 22px;
    font-size: 18px;
}

.area_list ol li {
    font-size: 16px;
}

.change-button {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2%;
}

.edit {
    margin-right: 2%;
}

@media (max-width: 1246px) {
    .main-form {
        height: 100%;
    }
}


/* HOMEPAGE */

.mont {
    background-image: url("../images/mont.jpg");
    background-size: cover;
    width: 100%;
    height: 425px;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.hpmain {
    height: 100%;
    padding-bottom: 2%;
}

#wrapper {
    margin: auto;
    width: 50%;
}

.card-body h3,
.card-body .hppage {
    color: #000000;
}

.media.rec-white {
    margin-bottom: 2%;
    padding-right: 10%;
    padding-left: 2%;
}

.card.offp {
    width: 40%;
    margin-bottom: 2%;
    margin-right: 10%;
}

@media (max-width: 825px) {
    .media.rec-white {
        display: block;
        padding-bottom: 2%;
    }
    .card-text {
        display: none;
    }
}

.card-body a.textgreen {
    color: #338575;
    text-decoration: none;
}

.card-body a.textgreen:hover {
    text-decoration: underline;
    color: #338575;
}

.btn.btn-primary.new-color {
    background-color: #338575;
    border-color: #338575;
}

.hpmain h2 {
    padding-top: 2%;
}


/* FIND FRIEND */

.ffmain {
    /* height: 100vh; */
    padding-top: 2%;
    padding-bottom: 2%;
}

.ffmain.myfriend {
    height: 100%;
}

.rec-white {
    background-color: white;
    border-radius: 8px;
    width: max-content;
}

.find-friend-page {
    width: 76%;
    margin-left: 10%;
}

.ffmain .find-friend-page h3 {
    margin-left: 2%;
}

.btn.btn-primary.new-color.bouton-vert {
    margin: 2% 45%;
}

.ffp {
    margin-top: 2%;
    /* margin-left: 20%; */
    display: grid;
    grid-template-columns: auto auto;
    /* gap:50px */
}

@media (max-width: 985px) {
    .ffmain {
        height: 100%;
    }
    .ffp {
        display: block;
    }
}


/* @media (max-width: 400px) {
    .d1 {
        display: block!important;
    }
} */

.ffmain h2 {
    margin-top: 2%;
    margin-left: 20%;
}

.btn.btn-primary.new-color.ffp {
    margin-left: 45%;
    /* padding-bottom: 2%; */
}


/* PATH */

.pathre {
    max-width: 75%;
    margin-top: 2%;
    padding-bottom: 2%;
}

.path-class {
    margin: 0;
}

.path-main {
    height: 100%;
}

.choose {
    margin-left: auto;
    margin-top: 2%;
}


/* EDIT FILE */

@media (max-width: 770px) {
    .editmain {
        height: 100%;
    }
}