*{
    margin:0px;
    padding:0px;
    font-family: 'Assistant';

}
header,main,footer, nav, aside,section,div,article{
    display: block;
}

a
{
    text-decoration: none;
}

header{
    background-color: #F7EBD4;
    display: flex;
    height: 75px;
    justify-content:right;
    justify-content: space-between;
}

header > a
{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px;
    width: 55px;
    height: 55px;
    margin: auto 4px;

}
header > section
{
  margin-top: auto;

}

.user_pic
{
    display: flex;
    width: 55px;
    height: 55px;
}
.user_pic span
{
    font-size: 5px;
    text-align: center;

}
.user_pic{
    margin:auto auto;
    background-image: url("../images/user_picture.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0px;
    width: 40px;
    height: 40px;

}
.bg-light 
{
    background-color: #FFFFFF!important;
}


main
{
   background-color: #dce7e9;
    border-radius: 0px;
    width: 100%;
    height:100%;
}
.h1_template
{
    background-color: #B5DBD3;
    width: 100%;
    height: 60px;
}
.h1_template h1
{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    line-height: 55px;
    text-align: center;
    padding: 0px;

}

#Save-Button button
{
    
    width: 140px;
    height: 49px;
    background: #338575;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 134.3%;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
    Border-radius :25px;
}

#Save-Button
{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}