/****** TEMPLATE ******/

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Assistant';
}

header,
main,
footer,
nav,
aside,
section,
div,
article {
    display: block;
}

.h1_template {
    background-color: #B5DBD3;
    width: 100%;
    height: 60px;
}

.h1_template h1 {
    font-weight: bold;
    line-height: 55px;
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    background-color: #F7EBD4;
    height: 75px;
}

header>a {
    margin-left: 30px;
}

header>a>img {
    width: 70px;
    height: 70px;
}

header>a {
    margin-top: auto;
}

.prof-pic {
    margin-top: 6px;
}

.user_pic span {
    font-size: 5px;
    text-align: center;
}

.user_pic {
    display: flex;
    margin: auto;
    background-image: url("../images/user_picture.png");
    background-size: contain;
    width: 40px;
    height: 40px;
}


/*nav{ 
     margin-left: 2%; 
    width: 80%;
    align-items: center;
} */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#main-menu a:hover {
    text-decoration: underline;
}

#hamburger-input {
    display: none;
}

#hamburger-menu {
    margin: auto 30px;
    width: 40px;
    height: 40px;
    display: none;
    border: none;
    background: linear-gradient( to bottom, #a0632f, #a0632f 20%, #F7EBD4 20%, #F7EBD4 40%, #a0632f 40%, #a0632f 60%, #F7EBD4 60%, #F7EBD4 80%, #a0632f 80%, #a0632f 100%);
}

#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: #318371;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3 {
    color: #B9FAF8;
    font-size: 2.2rem;
}

#hamburger-menu ul {
    padding-left: 0px;
}

#hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a {
    color: #B9FAF8;
    font-size: 1.3rem;
    text-decoration: none;
}

#hamburger-menu a:hover {
    text-decoration: underline;
}

#hamburger-input:checked+#hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}

#hamburger-input:checked~.overlay {
    visibility: visible;
    opacity: 0.4;
}

@media screen and (max-width: 750px) {
    #main-menu {
        display: none;
    }
    #hamburger-menu {
        display: inline;
    }
}

header>a {
    margin-left: 30px;
}

nav {
    /* margin-left: 2%; */
    width: 80%;
    margin-top: auto;
    /* align-items: center; */
    /* text-align: center; */
    /* display: flex; */
    /* justify-content: space-around; */
}


/* nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

ul {
    list-style-type: none;
}


/* nav>ul>li>a{
    color: #585858;

} */


/* nav ul{
    display: flex;
    justify-content: space-around
} */

nav>ul>li.nav-item>a.nav-link {
    color: #585858;
}

nav>ul>li.nav-item>a.nav-link.active {
    color: black;
}

nav>ul>li.nav-item>a.nav-link:hover {
    color: #B48D11;
}

main {
    background-color: #dce7e9;
    width: 100%;
    height: 100vh;
    /* height: 100%; */
}

.prof-pic {
    margin-right: 15px;
}

.main-form {
    height: 100%;
}


/****** INDEX ******/

.user_pic.index {
    background-image: url("../images/somone.png");
}

.form-index {
    margin: 20px auto 0 auto;
    max-width: 600px;
}

.pswrd {
    margin-top: 2%;
}

.btn.btn-primary.index {
    box-sizing: border-box;
    margin: 2% 0;
}

.or-container {
    margin: 25px auto;
    max-width: 600px;
}

.line-separator {
    background-color: black;
    flex-grow: 5;
    height: 1px;
}

.or-label {
    flex-grow: 1;
}

.footer-index {
    height: 100px;
    gap: 20px;
    text-decoration: underline;
}

.footer-index a {
    color: black;
}

@media (max-width: 660px) {
    .form-index,
    .or-container {
        width: 50%;
    }
}


/****** FORM ******/

.formpage {
    height: 100%;
}

.form-dest-page {
    width: 60%;
    padding-bottom: 2%;
    margin-bottom: 5%;
    /* margin-left: 5%; */
}

.form-page-form {
    margin-left: 19%;
    padding-top: 2%;
}


/* .btn-outline-success, .btn-primary.new-color.bouton-form{
    margin-top: 2%;
    margin-left: 35%;
} */

.fp {
    margin-top: 2%;
}

.btn-outline-success {
    border-color: #dce7e9;
}


/* 
.form-page-form,
.col-md-3 {
    padding-top: 1%;
}

.anotherD,
.budget,
.choose-date,
.two-div-in-one,
.typeoftyoul,
.middle-age,
.login-container {
    margin-top: 2%;
}

.dater {
    margin-left: 2%;
}

.login-container {
    padding-bottom: 1%;
}

.mx-sm-3 {
    margin-left: 0 !important;
}

.continent,.col-md-3.budget-in{
    margin-left: 2%;
}

.object_page_h2,
.another-destinatation,
.budget,
.typeoftyoul,
.middle-age,.choose-date {
    margin-left: 3%;
} */

@media screen and (max-width: 1000px) {
    .form-page-form {
        display: block !important;
    }
}


/****** LIST PAGE ******/

.trip_destnations {
    margin: 0 3%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgb(13 110 253 / 25%);
}

tr.clickable-row:hover {
    cursor: pointer;
    --bs-table-accent-bg: rgba(206, 204, 204, 0.678)!important;
}


/* ChANGE PAGE + OBJECT PAGE */

#trip_details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    padding: 2%;
}

.trip_details_section {
    display: flex;
    flex-wrap: wrap;
    max-width: 396px;
    height: 100px;
    width: 135px;
    margin: 0px auto;
    position: relative;
}

.trip_details_section span {
    font-weight: bold;
    font-size: 24px;
    width: 97px;
    height: 40px;
}

.trip_details_section input {
    text-align: center;
    margin-top: 2px;
    width: 117px;
    height: 28px;
}

.edit_button {
    background: url("../images/edit_button.png");
    border: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.trip_details_section select {
    text-align: center;
    margin-top: 0px;
    width: 117px;
    height: 28px;
}

#object_page_h2 {
    margin-left: 200px;
    margin-top: 50px;
    font-weight: bold;
}

#trip_destnations {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
}

.area_list {
    height: 388px;
    width: 288px;
    background-color: rgba(255, 255, 255, .5);
    position: relative;
}

.area_list img {
    position: absolute;
    top: 40px;
    left: 7.5px;
    width: 278px;
    height: 1px;
}

.area_list h3 {
    font-size: 25px;
    line-height: 42px;
    text-align: left;
    margin-left: 7.5px;
}

.area_list span {
    font-size: 21px;
    font-weight: bold;
    margin-left: 32px;
}

.area_list ol li {
    list-style: none;
    font-size: 18px;
}

.form-check-input:checked {
    background-color: #B5DBD3;
    border-color: #B5DBD3;
}

.area_list .form-check .form-check-input {
    visibility: hidden;
}

.area_list section {
    position: absolute;
    width: 168px;
    height: 32px;
    top: 314px;
    left: 60px;
    background: #E1AA7A;
    text-align: center;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}

.des_img {
    position: relative;
    width: 288px;
    height: 87px;
}

.des_img :nth-child(1) {
    position: absolute;
    top: 29px;
    left: 0px;
    width: 405px;
    height: 3px;
}

.des_img :nth-child(2) {
    position: absolute;
    top: 10px;
    left: 0px;
}

.des_img :nth-child(3) {
    position: absolute;
    top: 52px;
    left: 17px;
}

.des_img :nth-child(4) {
    position: absolute;
    top: 10px;
    left: 240px;
}

#last_vector {
    width: 288px;
}

#Save-Button {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    visibility: hidden;
}

#Save-Button button {
    width: 140px;
    height: 49px;
    background: #338575;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 134.3%;
    text-align: center;
    color: #000000;
}

@media (max-width: 1420px) {
    header>a {
        margin: auto auto;
    }
    #trip_details {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .trip_details_section {
        margin: auto auto;
    }
    #object_page_h2 {
        margin-left: 1.5%;
    }
    #trip_destnations {
        margin-left: 5%;
        margin-right: 5%;
    }
    .des_img {
        width: 156px;
    }
    .area_list {
        width: 156px;
        height: 288px;
    }
    .area_list img {
        width: 156px;
    }
    .des_img :nth-child(1) {
        width: 170px;
    }
    .des_img :nth-child(4) {
        left: 109px;
    }
    .area_list section {
        width: 150px;
        height: 32px;
        top: 248px;
        left: 8px;
    }
    #last_vector {
        width: 156px
    }
    .area_list span {
        margin-left: 22px;
        font-size: 18px;
    }
    .area_list ol li {
        font-size: 16px;
    }
}

.change-button {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 2%;
    margin-right: 2%;
}

.edit {
    margin-right: 2%;
}


/* HOMEPAGE */

.hpmain {
    height: 100%;
}

.mont {
    background-image: url("../images/mont.svg");
    /* display: flex; */
    /* justify-content: center; */
    width: 100%;
    height: 425px;
    background-repeat: no-repeat;
    align-items: flex-end;
}

.div-in-div {
    /* display: flex; */
    width: 50%;
    background-color: #e2dcdc;
    border-radius: 8px;
    /* align-items: center; */
    margin-bottom: 2%;
    /* text-align: center; */
}

.btn.btn-primary.new-color {
    background-color: #338575;
    border-color: #338575;
}

.homepage {
    margin-left: 30px;
}

.homepage h2 {
    padding-top: 2%;
}

.frec {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
    margin-right: 2%;
}

.frec a,
.arec {
    background-color: white;
    border-radius: 8px;
    text-decoration: none;
}

.trec a {
    text-decoration: none;
}

.frec a:hover p,
.textgreen,
.trec a:hover p,
.emf:hover {
    color: #338575;
}

.rec,
.arec {
    color: black;
}

.rec img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.trec {
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 450px 450px;
}

.d-flex h3 {
    margin-left: 10%;
    margin-top: 5%;
}

.emf {
    margin: 2% 0;
}

.arec {
    padding: 10px;
}

@media (max-width: 650px) {
    .frec {
        display: block;
    }
    .rec {
        background-color: white;
        margin: 5%;
        border-radius: 8px;
        width: 50%;
    }
    .formed {
        display: block !important;
    }
}

@media (max-width: 1030px) {
    .trec {
        display: block;
        width: 50%;
    }
    .arec {
        margin-top: 20px;
    }
}

formed
/* FIND FRIEND */

.ffmain {
    padding-top: 2%;
    height: 100vh;
}

.rec-white {
    background-color: white;
    border-radius: 8px;
}

.find-friend-page {
    width: 76%;
    margin-left: 10%;
}

.ffmain .find-friend-page h3 {
    margin-left: 2%;
}

.btn.btn-primary.new-color.bouton-vert {
    margin: 2% 45%;
}

.ffp {
    margin-top: 2%;
    margin-left: 10%;
}

.btn.btn-primary.new-color.ffp {
    margin-left: 33%;
    margin-bottom: 2%;
}